:root {
  --dark: #181a1f;
  --white: #ffffff;
  --light-gray: #e5e5e5;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}
ul {
    padding: 0;
    margin:0
}
button {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

input,
textarea {
  color: initial;
}

.product-breadcrumbs_breadCrumbs__hD4I3 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 8px;
}

.product-breadcrumbs_breadCrumb__29Z9T,
.product-intro_pdpShortDesc___SLJk,
.product-shade-selector_colorName__Hq26z,
.product-shade-selector_shadesCount,
.product-shade-selector_shadeSelectorCode__gz5SC,
.product-fixed-pane_shadesHeader__0rl2o,
.product-fixed-pane_shadesCount__J_2Sw,
.product-stacked-price_displayPrice__Dl4Da,
.product-services-icons_serviceItem__r3Kta,
.product-more-info_disclosurePanel,
.product-intro_productName__MfL8o,
.product-intro_productName__MfL8o strong {
    overflow-wrap: break-word;
}

html[dir=ltr] .product-breadcrumbs_breadCrumb__29Z9T,
html[dir=ltr] .product-intro_pdpShortDesc___SLJk,
html[dir=ltr] .product-shade-selector_colorName__Hq26z,
html[dir=ltr] .product-shade-selector_shadesCount,
html[dir=ltr] .product-shade-selector_shadeSelectorCode__gz5SC,
html[dir=ltr] .product-fixed-pane_shadesHeader__0rl2o,
html[dir=ltr] .product-fixed-pane_shadesCount__J_2Sw,
html[dir=ltr] .product-services-icons_serviceItem__r3Kta,
html[dir=ltr] .product-more-info_disclosureButton,
html[dir=ltr] .product-more-info_disclosurePanel {
    letter-spacing: -.02em;
}
.product-breadcrumbs_breadCrumb__29Z9T {
    font-size: .75rem;
    overflow-wrap: break-word;
    text-decoration: underline;
    text-underline-offset: 3.5px;
}
.product-breadcrumbs_breadCrumbsSeparator__Kq5WN {
    margin: 0 8px;
}
.icon_iconContainer__lS_O1 {
    position: relative;
    display: flex;
}

.pane_pane__h9PPS {
    border-radius: 12px;
    background: linear-gradient(45deg, hsla(0, 0%, 100%, .95), hsla(0, 0%, 100%, .65));
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 16px 12px;
}

.content-for-layout {
    transition: background-color 1s;
    background-image: linear-gradient(var(--fromRGBA) 70vh, #fff);
}

.product-showcase_pdpGrid__lmfe8 {
    align-items: center;
}

.product-showcase_pdpContainer__01wlr,
.product-showcase_productInfoMobile__qLuMU,
.product-showcase_productServicesIconsDesktop__hqrPF,
.product-intro_pdpIntro__5MRHx,
.product-gallery_pdpGallery__XHv7M,
.product-info_pdpInfo__XiTlu,
.product-info_pdpInfoColumn__0_C_C,
.product-more-info_pdpTabs__8bOJN,
.product-more-info_servicesIconsContainerMobile__WK_x2,
.product-beauty-services_container__HcnbH {
    grid-column: span 12;
}

.product-intro_pdpIntro__5MRHx {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

.product-intro_pdpIntroBreadcrumb__3fT7e {
    margin-bottom: 16px;
}

.product-intro_productName__MfL8o {
    font-size: 2rem;
    font-weight: 400;
    line-height: 120%;
    text-transform: capitalize;
    margin-bottom: .25rem;
}

html[dir=ltr] .product-intro_productName__MfL8o,
html[dir=ltr] .product-intro_productName__MfL8o strong {
    letter-spacing: -.03em;
}

.product-intro_productName__MfL8o strong {
    font-size: 2rem;
    font-weight: 300;
    line-height: 105%;
    text-transform: uppercase;
}

.product-intro_pdpShortDesc___SLJk {
    font-size: .875rem;
    line-height: 120%;
    font-weight: 400;
    padding-bottom: 16px;
}

.product-gallery_pdpGallery__XHv7M {
    max-width: 750px;
    justify-self: center;
    width: 100%;
    margin-bottom: 2rem;
    position: relative;
}

.product-gallery_galleryCarousel,
.product-gallery_galleryButton__S3y_y,
.product-gallery_galleryWrapper__o1648 {
    height: 100%;
}

.product-gallery_galleryButton__S3y_y,
.product-gallery_galleryWrapper__o1648 {
    display: block;
    width: 100%;
    overflow: hidden;
}
.product-intro_showOnDesktopOnly__qAyia,
.product-gallery_galleryDesktop__rMEYO {
    display: none;
}
.product-gallery_galleryImage__reMDc {
    object-fit: cover;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    color: transparent;
}

.product-gallery_galleryImgWrapper__sv_XK {
    position: relative;
    aspect-ratio: 1;
    width: 100%;
}

.product-gallery_galleryImgWrapper__sv_XK.product-gallery_whileOpen__TjP9F {
    aspect-ratio: auto;
    height: 100%;
}

.product-gallery_galleryImgWrapper__sv_XK.product-gallery_whileOpen__TjP9F .product-gallery_galleryImage__reMDc {
    object-fit: contain;
}

.product-gallery_galleryImgWrapper__sv_XK > div {
    border-radius: 16px;
}

.product-gallery_cursor__yBkCQ,
.product-gallery_openGallery__3sV0O,
.carousel-utils_arrowL__e_hk7,
.carousel-utils_arrowR__7AZ0v {
    background: linear-gradient(45deg, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .2));
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.product-gallery_cursor__yBkCQ {
    position: fixed;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    z-index: 2;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.product-gallery_galleryDialog__b4AJu {
    position: fixed;
    inset: 0;
    z-index: 50;
}

.product-gallery_galleryDialog__b4AJu .product-gallery_gallerySlide__aNFX8 {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-gallery_gallerySlide__aNFX8 {
    width: 100% !important;
    height: 100% !important;
}

.product-gallery_galleryDialog__b4AJu .product-gallery_galleryImgWrapper__sv_XK {
    width: 100%;
}

.product-gallery_galleryDialog__b4AJu .product-gallery_openGallery__3sV0O {
    display: none;
}

.product-gallery_galleryPanel__OOiQ1 {
    background: linear-gradient(var(--fromRGBA) 70vh, #fff) #fff;
    height: 100%;
}

.product-gallery_galleryPanelClose__ySOUG {
    position: absolute;
    z-index: 2;
    top: 16px;
    right: 16px;
}

.product-gallery_galleryButton__S3y_y.product-gallery_galleryButtonOpen__Dop5_,
.product-gallery_galleryWrapper__o1648.product-gallery_galleryButtonOpen__Dop5_ {
    width: auto;
    cursor: auto;
}

.product-gallery_galleryButton__S3y_y.product-gallery_galleryButtonOpen__Dop5_ .product-gallery_galleryImgWrapper__sv_XK,
.product-gallery_galleryWrapper__o1648.product-gallery_galleryButtonOpen__Dop5_ .product-gallery_galleryImgWrapper__sv_XK {
    border-radius: 0;
}

.product-gallery_galleryButton__S3y_y:disabled,
.product-gallery_galleryWrapper__o1648:disabled,
.product-gallery_galleryArrowsMobile__g8r_q > button:disabled,
.product-gallery_galleryArrows__C_cyz > button:disabled {
    opacity: .5;
}

.product-gallery_galleryArrows__C_cyz,
.carousel-utils_absoluteContainer__XUmD8 {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

.product-gallery_galleryArrowsMobile__g8r_q {
    display: block;
    position: absolute;
    z-index: 2;
}

.product-gallery_galleryArrowsMobile__g8r_q > button {
    position: absolute;
    box-shadow: 0 1px 24px hsla(0, 0%, 100%, .3);
}

.carousel-utils_absoluteContainer__XUmD8 {
    display: flex;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}

.carousel-utils_mobileGalleryArrowL__WmGDr {
    left: 0;
}

.carousel-utils_mobileGalleryArrowR__jQDIV {
    right: 0;
}

.carousel-utils_arrowL__e_hk7,
.carousel-utils_arrowR__7AZ0v {
    width: 40px;
    height: 40px;
    box-shadow: 0 1px 24px rgba(0, 0, 0, .1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
    transition: all .3s ease-in-out;
}

#headlessui-portal-root {
    display: none;
}

#headlessui-portal-root[data-headlessui-portal-state="open"] {
    display: block;
}

.product-gallery_galleryNav__0zXQy,
.product-gallery-navigator_navigatorContainer,
.product-services-icons_serviceGrid__xrqE_ {
    list-style: none;
}

.product-gallery_galleryNav__0zXQy {
    display: flex;
    position: absolute;
    z-index: 2;
    gap: 12px;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.product-gallery_galleryNav__0zXQy::-webkit-scrollbar {
    display: none;
    width: 0;
}

.product-gallery_openGallery__3sV0O {
    padding: 6px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    display: block;
}

button.product-gallery_bigButton__rzLwu {
    margin: 8px auto 0;
}

.product-gallery_galleryMobile__lF1b2 {
    display: block;
}

.product-gallery-navigator_navigatorContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
}

.product-gallery-navigator_navigatorButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    background: linear-gradient(90.07deg, rgba(219, 92, 0, .2) 15.54%, rgba(231, 135, 181, .2) 92.29%);
    border-radius: 50%;
    padding: 0;
}

.product-gallery-navigator_navigatorButton:disabled {
    opacity: .5;
    cursor: auto;
}

.product-gallery-navigator_contentCenter__4hzaP {
    justify-content: center;
}

.product-gallery-navigator_contentStart__4Tnou {
    justify-content: start;
}

.product-gallery-navigator_wrapperImage__TS9_N {
    border-radius: 50%;
    background: #fff;
    display: flex;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    align-items: center;
    justify-content: center;
}

.product-gallery-navigator_galleryImage__BGIA8 {
    border-radius: 50%;
}

.product-gallery-navigator_active {
    background: linear-gradient(90.07deg, #db9000 3.11%, #db5c00 15.54%, #fa057b 76.16%, #fa05e1 91.34%);
}


.product-fixed-pane_actionsContainer__yp6k9,
.product-info_purchaseInfo__sLVhC {
    display: flex;
    gap: 8px;
}



.product-fixed-pane_fixedContainer__NSaq4 {
    position: fixed;
    z-index: 50;
    bottom: 1rem;
    left: 0;
    right: 0;
    pointer-events: none;
}

.product-fixed-pane_fixedPane__qAzr4 {
    --header-height-mobile: 100px;
    --header-height-desktop: 160px;
    position: relative;
    grid-column: span 12;
    pointer-events: all;
    padding: 12px;
    background: hsla(0, 0%, 100%, .8);
    max-height: calc(100vh - var(--header-height-mobile));
    overflow-y: auto;
    box-shadow: 0 0 40px rgba(0, 0, 0, .3);
}

.product-fixed-pane_shadesHeader__0rl2o {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;
    font-size: .875rem;
    line-height: 120%;
}

.product-fixed-pane_shadeColor__3fk4_ {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-fixed-pane_shadeImage__lYwLD {
    border-radius: 50%;
}

.product-fixed-pane_shadesCount__J_2Sw {
    font-size: .75rem;
    text-decoration: underline;
    text-underline-offset: 3.5px;
    flex-shrink: 0;
}

.product-fixed-pane_purchaseInfo__CU7hE {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-fixed-pane_shadesSelector__nTOh1 {
    padding-bottom: 8px;
}

.product-fixed-pane_actionsContainer__yp6k9 {
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-shade-selector_shadesHeader__brdn5 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
}

.product-shade-selector_colorName__Hq26z {
    font-size: .875rem;
    line-height: 120%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product-shade-selector_shadesCount {
    font-size: .75rem;
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 3.5px;
    flex-shrink: 0;
}

.product-shade-selector_wrapperShades {
    transition: all .3s ease-out;
    overflow: hidden;
}

.product-shade-selector_shadesSelector {
    --row-size: 8;
    display: grid;
    grid-template-columns: repeat(var(--row-size), 28px);
    justify-content: space-between;
    row-gap: 8px;
    padding-top: 1px;
}

.product-shade-selector_outOfStock__4dIoQ {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 1px;
    background-color: #d8d8d8;
    z-index: 1;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.product-shade-selector_selectedShadeSelectorButton__6WqQv,
.product-shade-selector_shadeSelectorButton__RJJvK {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-shade-selector_selectedShadeSelectorButton__6WqQv .product-shade-selector_shadeImageWrapper__roXhZ,
.product-shade-selector_shadeSelectorButton__RJJvK .product-shade-selector_shadeImageWrapper__roXhZ {
    position: relative;
    display: block;
    width: 28px;
    height: 28px;
    background: transparent;
    border: 1px solid #d8d8d8;
    border-radius: 14px;
}

.product-shade-selector_selectedShadeSelectorButton__6WqQv .product-shade-selector_shadeImage__kWj40,
.product-shade-selector_shadeSelectorButton__RJJvK .product-shade-selector_shadeImage__kWj40 {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 10px;
}

.product-shade-selector_selectedShadeSelectorButton__6WqQv:hover .product-shade-selector_shadeImageWrapper__roXhZ,
.product-shade-selector_shadeSelectorButton__RJJvK:hover .product-shade-selector_shadeImageWrapper__roXhZ,
.product-shade-selector_selectedShadeSelectorButton__6WqQv .product-shade-selector_shadeImageWrapper__roXhZ {
    border-color: #252b2e;
}

.product-shade-selector_selectedShadeSelectorButton__6WqQv:hover .product-shade-selector_outOfStock__4dIoQ,
.product-shade-selector_shadeSelectorButton__RJJvK:hover .product-shade-selector_outOfStock__4dIoQ,
.product-shade-selector_selectedShadeSelectorButton__6WqQv .product-shade-selector_outOfStock__4dIoQ {
    background-color: #252b2e;
}

.product-shade-selector_shadeSelectorCode__gz5SC {
    font-size: .5rem;
    margin-top: 2px;
    display: block;
    text-align: center;
}

.product-stacked-price_priceInfo__Imdcp {
    flex: auto;
    display: flex;
    align-items: center;
    gap: 4px;
    white-space: nowrap;
}

.product-stacked-price_displayPrice__Dl4Da {
    font-size: 1.25rem;
    line-height: 120%;
    display: inline-block;
}

html[dir=ltr] .product-stacked-price_displayPrice__Dl4Da {
    letter-spacing: -.03em;
}

.product-info_pdpInfoColumn__0_C_C,
.product-info_productInfoColumn__acoU1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.product-info_pdpInfoColumn__0_C_C {
    justify-content: flex-end;
    flex-wrap: nowrap;
}

.product-info_productInfoColumn__acoU1 > div,
.product-more-info_pdpMoreInfo__lTXFr {
    box-shadow: 0 3px 4px rgba(0, 0, 0, .1);
}

.product-info_purchaseInfo__sLVhC {
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-more-info_pdpMoreInfo__lTXFr {
    background-color: #fff;
    border-radius: 12px;
    position: relative;
    overflow: auto;
}

.product-more-info_pdpTabs__8bOJN {
    position: relative;
    display: flex;
    flex-direction: column;
}

.product-more-info_disclosureButton {
    font-size: .625rem;
    text-transform: uppercase;
    padding: 16px 12px;
    display: flex;
    justify-content: space-between;
}

html[dir=ltr] .product-more-info_disclosureButton {
    letter-spacing: .16em;
}

.product-more-info_disclosureButton h2 {
    font-weight: 400;
    font-size: inherit;
}

.product-more-info_disclosurePanel {
    font-size: .75rem;
    display: grid;
    padding: 0 16px;
    grid-template-rows: 0fr;
    visibility: hidden;
    transition-property: grid-template-rows, visibility, padding;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.product-more-info_disclosurePanel[data-headlessui-state=open] {
    padding-top: .5rem;
    padding-bottom: 1rem;
    grid-template-rows: 1fr;
    visibility: visible;
}

.product-more-info_panelInner__A3yNV {
    overflow: hidden;
}

.product-services-icons_serviceGrid__xrqE_ {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 12px;
    row-gap: 16px;
    padding: 16px 0;
}

.product-services-icons_serviceItem__r3Kta {
    font-size: .625rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 8px;
}

html[dir=ltr] .product-services-icons_serviceItem__r3Kta {
    letter-spacing: .16em;
}

.product-beauty-services_container__HcnbH {
    padding: 40px 0;
}

.product-beauty-services_buttonCol___MJ4O {
    grid-column: 3 / span 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.product-beauty-services_buttonCol___MJ4O h3 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 120%;
    overflow-wrap: break-word;
    padding-bottom: 4px;
}

html[dir=ltr] .product-beauty-services_buttonCol___MJ4O h3 {
    letter-spacing: -.03em;
}

.product-beauty-services_buttonCol___MJ4O p {
    font-size: .75rem;
    overflow-wrap: break-word;
}

html[dir=ltr] .product-beauty-services_buttonCol___MJ4O p {
    letter-spacing: -.02em;
}

.product-beauty-services_revieveBtn__o8k1e {
    margin-bottom: 0;
}

.product-beauty-services_mosaic__fq2AI {
    display: grid;
    grid-column: span 12;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin-top: 32px;
}

.product-beauty-services_mosaicMedia__yg5dn {
    aspect-ratio: 1 / 1;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}

.product-beauty-services_mosaicMedia__yg5dn img {
    object-fit: cover;
}

.product-beauty-services_mosaic__fq2AI .product-beauty-services_mosaicMedia__yg5dn:first-child {
    aspect-ratio: 1 / 2;
    grid-row: span 2;
    width: 100%;
    height: 100%;
}

.revieve-modal-trigger_bigButton__etpnx {
    margin-bottom: 2rem;
}

@media (any-hover: hover) {
    .product-actions_wrapperPrimary__8ww4a:hover,
    .product-wishlist-button_wishlist__EMjuo:not(:disabled):hover {
        box-shadow: 0 3px 12px rgba(0, 0, 0, .16);
    }

    .product-actions_wrapperPrimary__8ww4a:hover .product-actions_primary__jSvHi {
        background-position-y: 100%;
    }

    .product-actions_wrapperPrimary__8ww4a:hover .product-actions_primary__jSvHi:disabled {
        background-position-y: 0;
    }

    .product-actions_wrapperPrimary__8ww4a:hover:has(.product-actions_primary__jSvHi:disabled) {
        box-shadow: none;
    }

}

@media (max-width: 899px) {
    .product-gallery_galleryWrapper__o1648 {
        position: relative;
    }

    .product-gallery_galleryArrows__C_cyz {
        left: 16px;
        right: 16px;
    }

    .product-gallery_galleryNav__0zXQy {
        bottom: 33px;
        left: 18px;
        right: 0;
    }

    .product-info_pdpMoreInfoDesktop__pHyne,
    .product-info_hidePane__3ZJ13,
    .product-showcase_productServicesIconsDesktop__hqrPF {
        display: none;
    }

    .product-more-info_pdpMoreInfo__lTXFr {
        padding: 4px 0;
        margin: 16px 0;
        overflow: hidden;
    }

    .product-services-icons_serviceItem__r3Kta svg {
        width: 44px;
        height: 44px;
    }
    .product-gallery_horizontalClass {
        height: 32px;
        margin-top: 12px;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 8px 12px;
        justify-content: center;
    }
    .product-gallery_horizontalClass .swiper-pagination-bullet {
        position: relative;
        width: 12px;
        height: 12px;
        display: block;
        border-radius: 50%;
        background: linear-gradient(45deg, hsla(0, 0%, 100%, .95), hsla(0, 0%, 100%, .65));
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        border: .5px solid #252b2e;
        cursor: default;
        margin: 0 !important;
    }
    .product-gallery_horizontalClass .swiper-pagination-bullet-active {
        background: linear-gradient(90deg, #db06ad, #da0c9b 29.69%, #d44102);
        border: none;
    }
}

@media (min-width: 640px) {
    .product-beauty-services_buttonCol___MJ4O {
        grid-column: 1 / span 4;
    }

    .product-beauty-services_mosaic__fq2AI {
        margin-top: 0;
        grid-column: 6 / span 7;
    }

    .product-shade-selector_shadesSelector {
        --row-size: 12;
    }
}

@media (min-width: 900px) {

    .product-shade-selector_shadesSelector {
        --row-size: 5;
    }
    .product-showcase_pdpGrid__lmfe8 {
        align-items: start;
    }

    .product-showcase_pdpContainer__01wlr {
        display: flex;
        position: relative;
        padding-bottom: 40px;
        justify-content: space-between;
    }

    .product-showcase_section1__GhSdY,
    .product-showcase_section2__hB4hw {
        display: flex;
        width: 100%;
        height: 100%;
        position: sticky;
        top: 26.5px;
    }

    .product-showcase_section2__hB4hw {
        justify-content: center;
        padding-top: 69px;
    }

    .product-showcase_section3__mzv8p {
        max-width: 23%;
        padding-top: 69px;
    }

    .product-showcase_productInfoMobile__qLuMU {
        display: none;
    }

    .product-intro_pdpIntro__5MRHx {
        grid-column: span 3;
        max-width: 31%;
        align-self: center;
        padding-top: 69px;
    }

    .product-intro_pdpIntroBreadcrumb__3fT7e {
        margin-bottom: 32px;
    }

    .product-intro_productName__MfL8o {
        width: 100%;
        margin-bottom: 1rem;
    }

    .product-intro_pdpShortDesc___SLJk {
        padding-bottom: 32px;
    }

    .product-intro_showOnDesktopOnly__qAyia,
    .product-gallery_galleryDesktop__rMEYO {
        display: block;
    }
    .carousel-utils_absoluteContainer__XUmD8,
    .product-showcase_productInfo__hW2rb {
        display: flex;
    }

    .product-gallery_pdpGallery__XHv7M {
        aspect-ratio: 1;
        grid-column: span 6;
        margin-top: -32px;
        margin-bottom: 0;
        padding: 32px 12px 0;
    }

    .product-gallery_galleryCarousel {
        border-radius: 16px;
    }

    .product-gallery_galleryDialog__b4AJu .product-gallery_galleryImgWrapper__sv_XK {
        width: auto;
        height: 100%;
        max-width: calc(100vw - 160px);
    }

    .product-gallery_galleryPanelClose__ySOUG {
        top: 32px;
        right: 32px;
    }

    .product-gallery_galleryButton__S3y_y,
    .product-gallery_galleryWrapper__o1648 {
        cursor: none;
    }

    .product-gallery_galleryButton__S3y_y.product-gallery_galleryButtonOpen__Dop5_ .product-gallery_galleryImage__reMDc,
    .product-gallery_galleryWrapper__o1648.product-gallery_galleryButtonOpen__Dop5_ .product-gallery_galleryImage__reMDc {
        object-fit: contain;
    }

    .product-gallery_galleryArrowsMobile__g8r_q{
        display: flex;
    }

    .product-gallery_galleryMobile__lF1b2,
    .product-gallery_openGallery__3sV0O,
    .product-more-info_servicesIconsContainerMobile__WK_x2 {
        display: none;
    }

    .product-gallery_galleryNav__0zXQy {
        flex-direction: column;
        top: 6px;
        bottom: 6px;
        left: 16px;
    }

    .product-gallery-navigator_navigatorContainer {
        grid-template-columns: repeat(5, 1fr);
    }

    .product-fixed-pane_fixedPane__qAzr4 {
        grid-column: 10 / span 3;
        padding: 1rem;
        max-height: calc(100vh - var(--header-height-desktop));
    }

    .product-fixed-pane_purchaseInfo__CU7hE {
        flex-direction: column;
        gap: 8px;
    }

    .product-fixed-pane_shadesHeader__0rl2o {
        font-size: .75rem;
        padding-right: 40px;
    }

    .product-info_pdpInfo__XiTlu {
        grid-column: span 3;
        overflow-y: auto;
        scroll-behavior: smooth;
    }

    .product-services-icons_serviceGrid__xrqE_ {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-services-icons_serviceItem__r3Kta {
        min-width: 207px;
    }

    .product-beauty-services_mosaic__fq2AI {
        grid-column: 6 / span 7;
        grid-template-columns: 50% 42%;
        gap: 1rem;
    }
}

@media (min-width: 1280px) {
    .product-intro_productName__MfL8o,
    .product-intro_productName__MfL8o strong {
        font-size: 3rem;
    }

    .product-intro_productName__MfL8o {
        line-height: 105%;
    }

    .product-intro_productName__MfL8o strong {
        font-weight: 200;
        line-height: 97%;
    }

    .product-fixed-pane_fixedContainer__NSaq4 {
        bottom: 2rem;
    }

    .product-shade-selector_shadesSelector {
        --row-size: 7;
    }

    .product-beauty-services_buttonCol___MJ4O {
        grid-column: 1 / span 3;
        grid-template-columns: auto 30%;
    }

    .product-beauty-services_mosaic__fq2AI {
        grid-column: 6 / span 6;
    }
}
@media (min-width: 900px) and (max-width: 1280px) {
    .product-gallery-navigator_navigatorContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1281px) and (max-width: 1370px) {
    .product-gallery-navigator_navigatorContainer {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1920px) {
    .product-shade-selector_shadesSelector {
        --row-size: 8;
    }
}

.is-hidden {
  display: none !important;
}

.product-gallery_galleryButton__S3y_y {
  cursor: zoom-in;
}

.product-actions_primary__jSvHi.is-hidden,
.product-actions_quantitySelectorPrio__uEyhI.is-hidden {
  display: none !important;
}

.quantity-selector_quantityInput__ZG_I4:disabled,
.quantity-selector_quantityButton__9Uixa:disabled,
.product-actions_primary__jSvHi:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
